[2013-03-07 20:18] sebastianseilund opened #2 "Same version as you demoed at the March Ember Meetup?"
@ebryn is this the same version as you demoed at the March Ember Meetup? It seems like the most recent commit doesn't reuse the DOM elements.

I remember in your presentation, that we could see the DOM elements' `top` value change live in Developer Tools. When I run the [demo](http://jsbin.com/igawaq/23), the DOM elements are removed and then readded.

I guess it's [this line](https://github.com/e

[2013-03-08 20:58] #2 closed, assigned to nobody

[2013-03-22 15:25] jrabary opened #4 "Example with ember-data"
Is it possible to write an example of list-view using ember-data to load model ?

[2013-03-28 20:13] HelloGrayson opened #5 "No installation instructions"
It's not clear how to install list-view... I ended up copying the list-view.js from the demo.

[2013-04-18 17:03] #5 closed, assigned to nobody

[2013-04-18 17:31] christophermanning opened #10 "Is an unordered list (ul > li) container structure possible?"
I'd like to have a structure like

[code]

for the list view since I am using [bootstrap nav components](http://twitter.github.io/bootstrap/components.html#navs).

I've put together a jsbin to list progress so far: http://jsbin.com/axodim/4/edit but it's not working after scrolling and the initial state has more li's than necessary.

The main issues I am having are:
- I can't figure out how to ove

[2013-04-18 21:17] stefanpenner opened #12 "performance regression tests"

[2013-04-18 21:17] stefanpenner opened #13 "arrayDidChange implementation may cause un-needed re-render cascades."

[2013-04-18 23:36] kamal opened #14 "Drag is still captured when clicks are released off-screen"
Based on the demo on http://4euq.localtunnel.com/demos/virtual.html, if you click, drag and release off-screen, the list-view continues scrolling.

[2013-04-18 23:40] kamal opened #15 "Chrome on iOS not caching images"
Based on the demo http://4euq.localtunnel.com/demos/virtual.html

When a cell re-enters into view, I suspect the images are re-downloaded. I can't say for sure without hooking up an inspection proxy like Charles, but visually, I can see the images progressively download plus the activity spinner in the menubar appears.

[2013-04-21 18:01] HelloGrayson opened #20 "No installation instructions. Should use RVM."
Hoping to get this compiled but having trouble getting the right version of ruby,gem,bundler etc... Could we add a .rvm and a little set of instructions?

[2013-04-21 18:15] #20 closed, assigned to nobody

[2013-04-22 01:22] ebryn opened #22 "update README... we support iOS w/ VirtualListView"

[2013-04-22 07:21] #22 closed, assigned to twokul

[2013-04-23 19:19] #14 closed, assigned to nobody

[2013-04-26 01:29] stefanpenner opened #33 "better itemController support."

[2013-04-26 15:15] joefiorini opened #34 "Leaking Ember._renderBuffer instances"
I ran a couple profile snapshots against the example list view in this repository; it looks like it's leaking instances of Ember._renderBuffer.
### First snapshot: Initial Page Load

![Ember ListView examples](https://f.cloud.github.com/assets/3648/431238/75135c1e-ae83-11e2-874f-10984ff0c35d.jpg)
### Second snapshot: After heavy scrolling of the list view on the right

![Ember ListView examples-1]

[2013-04-26 18:08] #34 closed, assigned to krisselden

[2013-04-26 18:33] #10 closed, assigned to nobody

[2013-04-27 18:00] mehulkar opened #36 "List jumps when scrolling all the way down"
I don't see this happening in the example, but the list view is jumping to the top when I scroll past the bottom.
Here's a screen capture: http://youtu.be/cf6zY8jl9z0

[code]

[2013-04-27 21:02] #36 closed, assigned to nobody

[2013-05-02 17:45] stefanpenner opened #41 "test non listItemView childViews cohabiting with listItemView's"

[2013-05-19 16:19] twokul opened #43 "Support for itemController"
[code]

`peopleController.objecAt(1);` returns person instance.
we should likely use:
`peopleController.objectAtContent(1);` returns personController instance.

[2013-05-19 16:26] twokul opened #44 "Redundant contentBinding?"
[code]

[2013-05-22 18:20] tim-evans opened #45 "classNameBindings on Em.ListViewItems don't work after recycle"
Here's a test case:

http://jsfiddle.net/SPZn4/2/

[2013-05-26 15:17] minusfive opened #48 "Scrolling momentum + scroll-bar layering broken on WebKit + Solution"
## Problem

On WebKit, when the mouse remains over the rows' contents as it scrolls, momentum is broken. Also, the scroll-bar is being rendered behind the list's content. Here's a fiddle which illustrates this behaviour:
- http://jsfiddle.net/minusfive/6LUbw/

As you can see, scrolling momentum is broken since the rows' contents extend their full width (`.row-wrapper`); and since the rows extend t

[2013-05-31 05:24] joselo opened #51 "Insert new item at beginning of listview instead of at the end"
Before using list-view, I was using the next solution to insert items at the beginning of the array:

[code]

[code]

But since I changed to list-view, it doesn't work anymore, this is the view with list-view

[code]

Btw, before using list-view, I was using {{each}} to display the items

[code]

If does anyone have ideas to fix this I really appreciate :)

[2013-05-31 05:51] #51 closed, assigned to nobody

[2013-06-05 06:16] minusfive opened #54 "Scroll-bar rendered behind content on Webkit"
Because of the use of 3d transforms for positioning, the scroll-bar is being rendered behind the list's rows.

Related to https://github.com/emberjs/list-view/issues/48.

Shown here http://jsfiddle.net/minusfive/6LUbw/

@kselden attempted to fix with https://github.com/emberjs/list-view/commit/c55ae13c5c75b4af7857bbf4b4da3f09b552d75a, but unfortunately that commit removed transform3d-based positio

[2013-06-05 17:22] Gargron opened #56 "Support for variable height"
Hello!

Are there any plans to support elements of variable height? It seems like it shouldn't be impossible to do (render element while it is being added, fetch its height, hide again until needed?), so I was wondering if you are planning to add that at some point.

Cheers,
Eugen

[2013-06-11 20:59] joefiorini opened #58 "Slow rendering/scrolling in IE9"
I'm seeing some severely slowed scrolling in IE9. Looks like the problem might be slow performance rendering items that are coming into view. Here's a jsbin with about 3000 rows. Scrolling is great in Chrome, sucks in IE9. http://jsbin.com/odehas/8/edit

Has anyone else run into this? Thoughts?

[2013-07-10 22:37] CapyTheBeara opened #63 "Refactor ListViewMixin?"
Any interest in pulling out some of the calculations within ListViewMixin into a separate class? https://github.com/monocle/list-view/commit/31780a6ae169e170a8a61eeab2703957d32e5766

[2013-07-28 16:45] jasonf20 opened #64 "Rendering tables does not work"
Hi,

I tried using your ListView to render a large table, however the results seem to be bad. you can see the problem here with ease:

EDIT: Removed setInterval:
http://jsbin.com/egowik/7/edit

It would be great if this worked. Thanks!

[2013-07-28 18:12] #64 closed, assigned to nobody

[2013-07-30 20:49] #63 closed, assigned to nobody

[2013-08-17 17:49] ghempton opened #65 "Support Tables"
I would like to create a list view that represents a TBODY:

[code]

However this is impossible due to the `<div class="ember-list-container">` that is created.

What is the purpose of the container (rather than using the view element itself?). Alternatively maybe the main list view could be made virtual and allow the container's element to be customizable?

[2013-08-21 05:43] jasonmit opened #66 "Changing height of listview during runtime"
Is there support to adjust the list view height during runtime?

I apologize if this is documented somewhere, I cannot find it.

[2013-08-21 11:48] #66 closed, assigned to nobody

[2013-08-30 00:51] jasonmit opened #68 "Ember RC8 breaks Ember.ListView"
If you transition away from a route with a list-view you'll receive
Cannot call method 'destroy' of undefined

This should be easy to replicate, but let me know if you need a jsbin.

I cannot replicate the exact issue with VirtualListView but there are some slight rendering issues with large datasets but that is a separate issue.

[code]

[2013-09-02 15:51] #68 closed, assigned to nobody

[2013-09-03 07:30] HEMENDRA27 opened #70 "Virtual listview does not work properly in IE 10 and other browsers"
When we use Virtual list view - it works fine in google chrome browser but does not work properly in other browsers like Mozilla or IE 10 - Virtual list view items are not visible on scrolling.

[2013-09-04 14:25] HEMENDRA27 opened #71 "Virtual List View drag and drop not working."
In Ember List View drag and drop working fine but in Ember Virtual List View drag and drop is not working why?

[2013-09-08 06:34] Chandler opened #72 "don't show join buttons when registration is over or game is over"

[2013-09-08 06:34] #72 closed, assigned to nobody

[2013-09-13 14:57] andremalan opened #73 "Allow for height and width to be calculated at run-time."
At the moment, height is a required attribute (and width if the layout is column). That being said, many implementations might not know the height of their list before render (if it depends on the screen size).

In my app I'm setting the width and height to that of the parent node on didInsertElement if no width and height were already set. Does this make sense as a general case default?

If so, I

[2013-09-13 14:59] #73 closed, assigned to nobody

[2013-09-17 19:11] #70 closed, assigned to krisselden

[2013-09-17 19:11] #58 closed, assigned to krisselden

[2013-09-17 19:11] #54 closed, assigned to krisselden

[2013-09-17 19:12] #48 closed, assigned to krisselden

[2013-09-19 18:05] torra opened #75 "Update demo page with latest version of ember"
It would be great if the [demo page](http://emberjs.com/list-view/) was running the latest version of ember

[2013-09-19 18:27] torra opened #76 "Unable to build project"
I am unable to rake the project. `bundle` completes successfully, but when I try to run `bundle exec rake dist` I get the following error:

[code]

Am I missing some dependency?

[code]

[code]

[2013-09-19 19:01] #76 closed, assigned to nobody

[2013-10-09 16:04] joefiorini opened #79 "Row height required?"
I remember hearing some talk of removing the requirement of a static row height. I have a circumstance where we have variable height list items laid out in a grid. The height will change at runtime based on user preferences. The good news is that all items will always be the same height. Will the changing the height of our list items cause any weird issues with list-view?

[2013-10-09 17:10] #65 closed, assigned to nobody

[2013-10-09 18:35] #79 closed, assigned to nobody

[2013-10-10 16:04] MajorBreakfast opened #80 "jquery-resize plugin"
There exists a jquery plugin for detecting when an element changes its size. Currently one has to specify the dimensions of the list view in the template. Defining the dimensions in the css is more appropriate. That way using media queries and all the other fancy stuff is possible.

http://benalman.com/projects/jquery-resize-plugin/

[2013-10-17 14:59] billdami opened #81 "ListView always shows vertical and horizontal scroll bars"
In the documentation there is some required CSS given, specifically that `.ember-list-view` must have `overflow:auto`. However when the ListView is rendered it looks like it is always given an inline CSS style of `overflow:scroll`, causing both vertical and horizontal scrollbars to be shown for the element, even when there are not enough rows to fill the visible area.

I wouldn't particularly mind

[2013-10-22 14:22] #45 closed, assigned to nobody

[2013-11-14 10:29] helm168 opened #83 "ListView doesn't work on ember-1.1.2"
list item disappeared  when scroll.

[2013-11-14 12:43] stefanpenner opened #84 "/demos/mobile_images_small_reusable.html appears to be failing"

[2013-12-19 11:47] kemenaran opened #86 "Scroll momentum broken on WebKit"
Here is a [JS Bin demonstrating the issue](http://jsbin.com/AwaKiRiD/3/) in Webkit browsers (tested on Chrome 30 and Safari 7).
1. Put the mouse cursor over an item of the list (see the hover effet)
2. Scroll the list quickly and repeatedly using an input method that trigger inertial scrolling (like a trackpad)
3. Half of the time, instead of decelerating slowly, the scrolling stops, and the whole

[2014-01-06 06:02] stefanpenner opened #87 "work correctly with strange ratios."

[2014-01-06 06:02] #83 closed, assigned to nobody

[2014-01-06 06:03] #81 closed, assigned to nobody

[2014-01-06 06:03] #12 closed, assigned to nobody

[2014-01-06 06:04] #13 closed, assigned to nobody

[2014-01-06 06:05] #33 closed, assigned to nobody

[2014-01-06 06:05] #80 closed, assigned to nobody

[2014-01-06 06:05] #84 closed, assigned to nobody

[2014-01-09 10:35] mmun opened #89 "Add configurable delay before setting a ListViewItem's context"
I'm trying to use list-view in combination with a lazily loaded array of Ember Data models. Currently, scrolling through the list causes an immediate network request for every single record. This could be mitigated by delaying the setting of the list-view-item's context with a configurable timer.

Ideally, list-view could expose two hooks: `contentScrolledIn(contentIndex)` and `contentScrolledOut(

[2014-01-19 07:31] #41 closed, assigned to raycohen

[2014-01-19 07:32] #71 closed, assigned to nobody

[2014-01-19 07:33] #44 closed, assigned to twokul

[2014-01-19 07:34] #86 closed, assigned to nobody

[2014-01-19 07:35] #89 closed, assigned to nobody

[2014-01-19 07:37] #4 closed, assigned to nobody

[2014-01-19 07:38] #43 closed, assigned to twokul

[2014-01-22 04:12] stefanpenner opened #91 "mousewheel issues on firefox"

[2014-01-23 04:45] wycats opened #92 "Don't do iOS Pull-to-Refresh on Android"
It feels very bad to do "pull to refresh" on Android. A more correct UI is something like this:

<img src="http://img.gawkerassets.com/img/18xt41svck5gggif/ku-xlarge.gif">

Ideally we would support some kind of built-in approach that feels nice on Android, and we should probably have an abstraction that lets you control what appears on top and bottom in general.

[2014-01-29 22:11] stefanpenner opened #93 "AWS Key is invalid, so passing tests no longer publish"
- [x] publish after green builds
- [x] add links to builds in readme.

(cc @fivetanley)

[2014-02-02 15:54] #93 closed, assigned to nobody

[2014-02-02 15:56] stefanpenner opened #95 "license should be be prepended to files in dist"

[2014-02-02 16:21] #95 closed, assigned to nobody

[2014-02-03 05:55] denisnazarov opened #97 "Rerendering of child views of ListItemView"
When your listItemView has a view in its template, that view is keeps being recreated as you scroll. I was wondering if there is a way for just the context/content reference to update for that view without rerendering.

The behavior is illustrated here: http://jsbin.com/ebUjAkEW/3/

The elementId for innerView shouldn't keep growing, just like the outer id.

[2014-02-03 06:04] #97 closed, assigned to nobody

[2014-02-06 00:40] ahouchens opened #99 "itemController does not fully work with listView"
Context inside the handlebars for 'this' is not itemController

itemController is not available in the itemViewClass of the handlebars for listView. While it is an object proxy and the properties are successfully proxied, the methods and actions are not.

[2014-02-06 05:14] #99 closed, assigned to nobody

[2014-02-06 05:14] #75 closed, assigned to nobody

[2014-02-20 01:56] courajs opened #102 "Bower support"
Have you guys thought about bower support for this? There's ember-list-view, but it's a shim by some guy which hasn't been updated in 4 months. Even just tagging versions occasionally would be a plus

[2014-02-20 02:02] courajs opened #103 "Site presents Virtual list view without explanation"
At http://emberjs.com/list-view/ there is a virtual list view, but no where does it say what the virtual list view is. Yeah the explanation's in the repo's readme, but why put the example there if it will lead to confusion?

[2014-02-20 02:37] courajs opened #104 "Bizarre scrolling behavior"
http://screencast.com/t/lC7Pmn8kr
This is me steadily scrolling downward.
Using: Last commit: 37baf55 (2014-02-10 20:49:20 -0500)
Happens in all browsers locally on OSX, as well as in a windows VM.
Here's my template.

[code]

I'll try to put together a full reduced test case for you in the next day or two, but does anything jump out at you in the meantime?

[2014-02-21 20:58] tim-evans opened #106 "ReusableListItemViews don't provide the correct context for "this" when being rendered."
This causes a multitude of issues including:
- `{{link-to}}`s not updating
- passing the context as an action returns the ObjectProxy, not the context.

Any thoughts on this?

[2014-02-21 23:36] #104 closed, assigned to nobody

[2014-02-26 15:24] ebryn opened #109 "Issues with itemController"
Given this template:

[code]

and these controller definitions:

[code]

As scrolling occurs, the item views lose their `style` attributes.

[2014-03-06 13:05] #15 closed, assigned to nobody

[2014-03-28 22:28] gigafied opened #117 "Growing a ListView's height after shrinking it throws an error."

[2014-04-07 15:23] jonnii opened #119 "TravisCI Publish Step Not Publishing"
It looks like the travis build isn't publishing the build artifacts, so the linked builds are out of date.

[2014-04-17 14:18] kingartes opened #120 "VirtualListView issue"
Hello. I found some issue with VirtualListView compoment.Don`t sure if it`s a bug or invalide usage by me, but if i try to use VirtualListView it doesn`t initialize with error "Scroller is not defined".
Here is an example of usage http://jsfiddle.net/SPZn4/84/.
In setupScroller function of VirtualListView compoment i found the line of code that create new instance of Scroller object, but i didn`t

[2014-04-17 14:22] #120 closed, assigned to nobody

[2014-04-23 14:51] marinho opened #122 "Compatibility with Ember Data"
Hi, I couldn't see anything related to Ember Data as it runs an Ajax request with no parameters about pagination, so, the infinite scroll just seems to be scrolling over the first page results.

Is ListView support it somehow? If yes, can you please give me any light on it?

If not, is there a plan to support it? I can take this task to contribute on the project.

[2014-04-23 15:46] #122 closed, assigned to nobody

[2014-04-25 15:20] #119 closed, assigned to nobody

[2014-04-25 15:21] #117 closed, assigned to nobody

[2014-05-14 02:01] inDream opened #126 "Restore scrollTop when re-enter view"
I have a view of post list using list-view while a view show the post's content.
When I switch from post to list, the scroll position reset and users need to scroll down again.

Is there any way to preserve the scroll position when switch back to list-view?

[2014-06-05 08:00] sly7-7 opened #127 "Deprecation Warning using view's state property"
Since https://github.com/emberjs/ember.js/pull/4878, list-view now send the deprecation warning due to multiple uses of `this.state === 'inDOM'`
Not sure what the fix should be, since replacing with this._state will break with the current ember release.
Maybe using this.$() !== undefined, or this.element != undefined could be ok.
Maybe it's just better to wait for the next ember release and then m

[2014-06-05 16:07] vampolo opened #128 "ReusableListItemView or ListItemView"
Hi.

Reading the sources I've seen that **ListViewMixin** uses **ReusableListItemView** as default for **itemViewClass** while in the doc it is written to use **ListItemView** when subclassing instead.

Why ? Is there any performance difference between the two ?

[2014-06-10 22:05] #127 closed, assigned to nobody

[2014-06-13 09:19] annismckenzie opened #131 "Scrolling to specific row (e.g. the end) after content has been set"
How would one go about scrolling to a specific row – in my case, the end – after the content has been set (list view has settled, properties are synchronized etc.)? I see no way of hooking into the logic/rendering mechanics. Any pointers are greatly appreciated. :)

[2014-06-17 13:45] roosnic1 opened #132 "Cannot call methode 'updatePosition' of undefined"
I have a virtualListView in my Ember App and it usually works without any problems. But if there aren't enough elements in the virtualListView to fill the visible part with elements i get the following error when i scroll down.

![screen shot 2014-06-17 at 15 41 21](https://cloud.githubusercontent.com/assets/2340416/3300887/8df5deba-f625-11e3-93e1-5455e11d4599.png)

[2014-06-17 14:28] #132 closed, assigned to nobody

[2014-07-11 14:13] crudo opened #136 "Scrolling issue in Webkit-based browsers on Mac OS"
Hi, I have found a bug with scrolling with the whole page when using mouse wheel.

To reproduce visit example: http://jsbin.com/patis/1/

Mouse wheel (or trackpad) works **OK** on the **green** List-view.

If you use mouse wheel (or trackpad) on **pink** List-view, it happens that the scrolling event is propagated to the body and you **scroll with the whole page**.

To trigger the bug, you must us

[2014-07-19 16:27] marcemira opened #137 "support metal-views"
Is it possible to create a branch for non metamorph applications, in favor of HTMLBars recent builds?

[2014-08-05 18:45] cowboyd opened #139 "Rendering is Buggy on Chrome 36,37, OSX Mavericks"
Does not effect Safari or Firefox, but is very noticeable on Chrome and Chrome Beta

![ember_starter_kit](https://cloud.githubusercontent.com/assets/4205/3816601/105d363e-1cd0-11e4-8005-ce18a443f8ec.png)

Does not appear to affect Chrome Canary (38). Also, was unable to reproduce on Linux and Mountain Lion in any browser.

Dunno if it's worth an investigation since sitting on it for 3 months may r

[2014-08-06 15:15] #128 closed, assigned to nobody

[2014-08-06 20:11] igillis opened #141 "Lacks support for Ember apps with prototype extensions disabled."
By default, Ember extends the prototype of Array and Function. This causes issues in some environments. More details here:

http://emberjs.com/guides/configuring-ember/disabling-prototype-extensions/

Ideally list-view should support this option.

[2014-08-07 15:50] #141 closed, assigned to nobody

[2014-08-11 19:59] cowboyd opened #143 "Deprecation Warning for `View.transitionTo` against Ember 1.7.beta.5"
[code]

[2014-08-27 20:44] #143 closed, assigned to nobody

[2014-08-28 13:40] #139 closed, assigned to nobody

[2014-09-02 08:56] annismckenzie opened #148 "Usage of version 0.0.5 inside Ember-CLI project unclear"
Just tried upgrading to version 0.0.5. I'm using Ember-CLI 0.0.42 (should be the latest version) but I'm at a loss on how to include the ListView there.

Building it inside `bower_components/list-view` just fails miserably. :(

[2014-09-02 20:03] kgish opened #149 "Could not locate Gemfile"
When I follow the instructions and run

[code]

I get the following error:

[code]

[2014-09-03 10:44] #148 closed, assigned to nobody

[2014-09-10 13:58] stefanpenner opened #151 "related CSS stuff (chrome fixed its bug)"
https://github.com/emberjs/ember-inspector/pull/205

[2014-09-11 16:34] #87 closed, assigned to nobody

[2014-09-11 16:35] #106 closed, assigned to nobody

[2014-09-11 16:37] stefanpenner opened #153 "documentation"
- [ ] Document main features and options (virtual vs. non-virtual list view, etc.) #103
- [ ] Make examples available on website, next to code snippets (probably use JSBin)
- [ ] Add variable height examples (https://github.com/emberjs/list-view/pull/142)
- [ ] ReusableListItemView?

[2014-09-11 16:37] #103 closed, assigned to nobody

[2014-09-11 16:39] #149 closed, assigned to stefanpenner

[2014-09-11 17:04] stefanpenner opened #154 "merge demo server and test/build server"

[2014-09-11 17:09] stefanpenner opened #155 "virtual-list-view scrolling"
- [ ] momentum should be additive, to work with interfaces that provide there own momentum
- [ ] bounce should be configurable, as it is very iOS but not desirable on all platforms

[2014-09-11 17:31] stefanpenner opened #156 "ideas to improve recycling + scroll"
- [ ] pad in the direction currently scrolling. We currently just pad on the bottom, but it should be easy to pad in the direction we are going, this should improve user experience when scrolling up
- [ ] multi-height in some situations it seems like multi-heights calculations for "needed views" in DOM is slightly off. Resulting in flicker. This seems to only happen when transitioning from a small

[2014-09-12 18:00] #56 closed, assigned to nobody

[2014-09-12 19:06] stefanpenner opened #157 "rowHeight changes should cause re-layout of the list/grid view"

[2014-09-12 20:35] stefanpenner opened #159 "new release"
## blocking
- [x] ember-addon
## likely not blocking but currently working on so it may make it in.
- [ ] limited variable height + grid mode
- [ ] scrolling class while scrolling

[2014-09-15 18:43] #157 closed, assigned to nobody

[2014-09-15 18:44] stefanpenner opened #160 "ember-addon"
- [ ] basic project restructure to utilize add-on infrastructure
- [ ] blueprint generator for generating list-view and list-view-item subclasses

[2014-09-15 21:03] stefanpenner opened #161 "rowHeight + multi-height quirks"
- [ ] its strange to allow both at the same time (rowHeight is just ignored)
- [x] multi-height (fixed) with rowHeight (dynamic)
- [ ] multi-height (dynamic) with rowHeight (dynamic)

[2014-09-15 21:04] stefanpenner opened #162 "multi-height + grid o_0)"
initial pass won't be full masonry but maybe will aim to support something like:

[code]

[2014-09-16 15:02] stefanpenner opened #163 "docs should be without globals as they are deprecated."

[2014-09-16 19:56] raytiley opened #164 "Absolute positioned children can get cut off"
This issue is more to make others aware and solicit feedback if I should add this to the docs for list-view. The problem is if you have absolute positioned children in your list-view rows that flow overflow the row it will be cut off by the parent rows siblings. I've created a simple jsbin that demonstrates this and a fix outside of ember / list-view.

http://jsbin.com/makok/1/

This can happen if

[2014-09-17 17:39] stefanpenner opened #165 "ember-list-view-scrolling class"
we should maintain ember-list-view-scrolling if the view is currently scrolling, this will hopefully help people disable various hover styles while scrolling.

https://github.com/emberjs/ember-inspector/issues/212

[2014-09-20 23:17] samratjp opened #166 "When scrolling list-view automatically selects/ the first item"
Hi there!

This is my first item using list-view and am super happy how much this has reduced my page rendering times!! Currently, the biggest issue I have with it is whenever I scroll - the list view selects/clicks on the first item in the next virtual page of items.

This is my current list-view setup (in emblem). The one way I've prevented this from happening is killing the link-to line (link-t

[2014-09-29 15:50] chrism opened #168 "Ember List View works fine with Ember 1.7.0, but not with Ember 1.8.0-beta.3"
Here are two JSBins to illustrate the problem.

Using the JSBin example from the docs (but with Ember 1.7.0 works fine)...
http://jsbin.com/kanife/2/

Switching to Ember 1.8.0-beta.3 (with no other changes) gives this error
`Uncaught TypeError: Object prototype may only be an Object or null: undefined`
http://jsbin.com/pesuk/2/

Is this a known issue? I can find an existing bug for it.

Thanks.

[2014-09-29 16:49] #168 closed, assigned to nobody

[2014-09-29 16:49] stefanpenner opened #169 "1.8x compatibility"
https://github.com/emberjs/list-view/issues/168

[2014-10-01 18:24] Genkilabs opened #170 "virtual-list-view links do not work on iOS / Safari Mobile"
You can see this easily by running an in-browser iOS emulator (I used chrome) and navigating to the list-view demo page, then changing one of the Virtual List View items to a link and trying to click it.
Here is a screenshot http://screencast.com/t/xSfKXJ2E0Ll9

I believe this might be a bug in the Zynga Scroller, perhaps related to https://github.com/zynga/scroller/issues/40

I'm really just docu

[2014-10-08 23:07] samselikoff opened #171 "jquery 2 / ember 1.7"
Is list-view compatible? (Perhaps I can help, what's the normal process, run tests with new versions?)

[2014-10-16 12:54] mayatskiy opened #172 "ListView and tables"
Can I use ListView somehow to make a scrollable table? The problem is that ListView wraps each item into div and its broke the table. Any suggestion will be great.

[2014-10-16 13:00] #172 closed, assigned to nobody

[2014-10-24 10:30] ianbale opened #174 "Does not work with Em.Select in the list items"
Demo of issue here: http://jsfiddle.net/ianbale/p1960k3p/3/

This fiddle demonstates a problem with using an Em.Select view inside the list-view.

Essentially, if you put an Em.Select inside this scroller then when you scrolll down and back up you will see the issue. It gets confused about what row it is displaying. You quickly find that all you have are lots of copies of the last few rows.

I've

[2014-10-24 11:33] #174 closed, assigned to nobody

[2014-10-30 22:18] #171 closed, assigned to nobody

[2014-11-26 06:30] stefanpenner opened #176 "virtual list view + Yosemite scrolls the wrong way"

[2014-12-09 21:05] mkolenda opened #178 "List items overlap when scrolling"
Ember: 1.7
list-view: // Last commit: 278bd97 (2014-08-03 23:35:17 -0400)
Handlebars:  1.1.2
jQuery: 1.10.2
Gist with issue: https://gist.github.com/mkolenda/ea65e93db85bf912d839
Screenshot of issue: https://www.dropbox.com/s/7zijw9v0bvrj6j4/Screen%20Shot%202014-12-09%20at%203.47.58%20PM.png?dl=0

Steps
Run the app in the Gist
Scroll down the list
Notice elements render on top of each other

What

[2014-12-10 13:45] MaxSanKyu opened #179 "Inserting a view in front of the content list"
I want to add a search form at the top, which scrolls up with the list. Since it is a ContainerView I would have to add it as a child view at the first position, but I haven't quite figured out how to do this.
Is this possible?

[2014-12-10 14:23] #179 closed, assigned to nobody

[2014-12-10 23:01] #178 closed, assigned to nobody

[2014-12-12 17:18] stefanpenner opened #180 "releases"
maybe 0.1.0 for master (this weekend)
and 0.2.0 for pack when it lands

Maybe consider 1.0 as the last release for the 1.x branch of ember and the 2.0 aligned with 2.0 release after which i would like to try and keep releases here in lock step with ember.

cc @rwjblue @jasonmit

[2014-12-12 17:31] #169 closed, assigned to nobody

[2014-12-13 07:09] jasonmit opened #181 "1.9 issues"
The only remaining issue is if you have a yield block, the template renders empty.

Working Example:
http://jsbin.com/qurutejeja/1/edit?html,js,output

Not Working:

[code]

https://github.com/emberjs/list-view/commit/83d006f6decf46d3aa182fc369362951a6a872c9 will work with 1.9 and 1.8.x

This should be finished tomorrow.

/cc @stefanpenner

[2014-12-17 18:18] #181 closed, assigned to nobody

[2014-12-23 20:53] #137 closed, assigned to nobody

[2014-12-23 20:53] #151 closed, assigned to nobody

[2014-12-23 20:56] stefanpenner opened #185 "add scrollToIndex"
pack branch should make this exceptionally easy

[2015-01-04 18:18] cfstras commented on #102
:+1: on this!

I can see the repo components/ember-list-view, but it seems to be empty... what gives?

[2015-01-05 14:18] shturm commented on #137
Don't you guys get "renderer is undefined" with the described setup ?
Sorry to revive a closed issue

[2015-01-05 14:28] jonnii commented on #137
@shturm are you using canary?

[2015-01-05 16:59] kenips commented on #180
@stefanpenner what are the steps remaining to get http://builds.emberjs.com/list-view/list-view-latest.js updated? Need help?

[2015-01-05 17:15] stefanpenner commented on #180
@kenips would love help, @fivetanley and @rwjblue are more familiar with that part of our deployment process.

[2015-01-06 16:13] mysterlune commented on #160
i've already got a shim available for this as an ember add-on.

https://github.com/mysterlune/ember-cli-list-view

there was yet another shim started by someone else, though the setup was wrong and made it so nobody could pull dependencies, etc, which is why i started my own. i followed the pattern for registering with Bower and NPM the way @marcoow did for ember-simple-auth, etc.

while it's a bi

[2015-01-06 16:22] jasonmit commented on #160
I think it would be best to turn this into an addon versus having a shim around it.  

We would then be able to take advantage of all the addon benefits and avoid the confusion of having a third party wrapper around it.

—
Sent from Mailbox

On Tue, Jan 6, 2015 at 8:13 AM, River Lune <notifications@github.com>
wrote:

[2015-01-06 16:32] stefanpenner commented on #160
:+1:

[2015-01-06 16:40] mysterlune commented on #160
makes sense. i agree the whole shim thing is a bit messy.

[2015-01-06 22:09] mysterlune commented on #160
right on. well, please keep me in the loop when dev starts on this. i'm interested in contributing if it wouldn't add more cooks than necessary to the kitchen.

for now, when folks need to use this as a shim'd addon, there's something for them. i'm happy to pull that repo offline, off-registry when this project is addon-ified.

keep up the great work, y'allz.

[2015-01-07 18:46] imkmf opened #186 "Multi-height rows affecting display of other rows when off-screen"
I have an instance of ListView with dynamic `rowHeight` – talked about it in a [previous issue](https://github.com/emberjs/list-view/pull/177#issuecomment-66544964).

**tl;dr - Two 'expanded' rows with heights of 200px in the midst of 'non-expanded' 100px rows cause display errors as you scroll down the list.**

A bit of context (and a JSbin):

We have an instance of ListView. When a row is clicke

[2015-01-07 18:48] imkmf commented on #186
Ah, I forgot to mention that the JSBin is using a version of ListView built the week of 12/1/14 so if this is something that's been fixed since then, my bad!

[2015-01-07 18:52] imkmf commented on #186
Damn, I'm actually seeing now in my app that even a single expanded row can cause similar display issues. I can't recreate it in the JSBin (only with multiple expanded rows) so I'm hoping that if we find a fix to this it'll solve both situations.

[2015-01-07 18:55] stefanpenner commented on #186
I suspect this is fixed in the pack branch. I promise to find time soon to get that branch in sync in master..

[2015-01-07 22:11] stefanpenner commented on #164
i wonder if we should add the concept of _focusing a row_

[2015-01-07 23:18] imkmf commented on #186
Ah, curious what makes you suspect that? Trying to determine if there's an alternate approach I should be taking (as in, am I doing this wrong?) or if it's just worth it to wait for the new branch to make it to master...

[2015-01-08 20:57] kenips commented on #180
ping @rwjblue - sorry know you're super busy but if you can take a look - desperately need `builds.emberjs.com` to have the 1.9 goodies.

[2015-01-09 03:32] fivetanley commented on #180
@kenips Sorry for the delay, I will catch up this weekend. For now the README has been replaced to use https://rawgit.com/rondale-sc/list-view-dist/canary/list-view.js as the download link. You can put that in bower as well.

[2015-01-09 03:59] kenips commented on #180
Thanks @fivetanley! Yeah I've been using custom dist for awhile now. Just trying to send PRs to some repos that rely on `builds.emberjs.com` so will wait for that to update :). Thanks so much!

[2015-01-13 16:56] imkmf commented on #186
@stefanpenner sorry to be *that* guy, but any update on this? Alternatively, would you consider the pack branch safe for us to merge locally on our list-view.js for the sake of getting this fixed temporarily?

[2015-01-16 08:12] SebastianSzturo commented on #163
Could someone explain how to use list-view in ember-cli right now?

[2015-01-16 18:17] fivetanley commented on #170
@Genkilabs any luck?

[2015-01-16 20:41] Genkilabs commented on #170
Nope, I ended up giving up on the list-view projects and rendering full lists then wrapping them in https://github.com/eviltrout/ember-cloaking

This seems to perform even better on desktop, and also works on iOS through ember-cli-cordova

[2015-01-17 00:16] stefanpenner commented on #163
@sebastianseilund i'll try to actually addonize it this weekend. It has been extremely overdue.

[2015-01-17 05:10] SebastianSzturo commented on #166
Another fix for that is to use link-to with ```this.id```

[code]

[2015-01-17 12:58] stefanpenner commented on #166
@sebastianseilund yes that is required for, do to how link-to "binds" to data, and how reusable list item view does its thing. I am pretty excited for the new HTMLBars + view layer work happening in ember, as those features will ultimately prevent us from needing the ReusableListItemView instead the ListItemView will be sufficient, and many bugs (hopfully) like this one, will go away.

[2015-01-19 14:17] codepreneur opened #188 "Doesn't work with latest ember-cli (0.1.7)"
If I just run `ember new testlistview` and then in `templates/index.hbs`:
[code]
and in `routes/index.js`:
[code]
I get an error:

Uncaught Error: Assertion Failed: Ember.ListView must be a subclass or an instance of Ember.View, not
[code]
Does anyone know how to make it work or can offer any alternatives?

Also, what about Ember 1.9.1 and Handlebars 2.0.0 ?

http://stackoverflow.com/questions/280

[2015-01-19 14:21] stefanpenner commented on #188
seems like you are missing the list-view global, does the component form of {{ember-list}} not work for you?

[2015-01-19 14:30] codepreneur commented on #188
Can you give me an example of how one would use `{{ember-list}}` component form ?
[code]

[2015-01-19 16:12] bargar commented on #178
Thanks, @mkolenda - you saved me some time by pointing this out!

[2015-01-19 16:36] Genkilabs commented on #163
Thank you @stefanpenner. The CLI seems to be becoming the norm so making list-view integrate smoothly is greatly appreciated.

[2015-01-19 17:52] #170 closed

[2015-01-19 20:51] xrl commented on #188
I can confirm this issue as well. I tried starting up the server with a `debugger` statement at the top of https://github.com/emberjs/list-view/blob/master/packages/list-view/lib/main.js and it never triggered when starting the app (I restart the `ember serve` process so it would reload libraries). Is the issue that I added list-view from bower when it should have been added from npm?

This is my

[2015-01-20 03:52] jayphelps commented on #176
Which browser and scroll direction setting? I'm on OS X 10.10.1, Chrome, both natural/historic scrolling settings = works as expected.

I'm guessing this is happening in a browser that doesn't support [event.webkitDirectionInvertedFromDevice](https://github.com/emberjs/list-view/blob/2270c05493055d9db83119fab69aae288c3a8827/packages/list-view/lib/virtual_list_view.js#L185), but this may no longer

[2015-01-20 04:33] stefanpenner commented on #176
@jasonmit fixed this, thanks for reminding me of this :)

[2015-01-20 04:33] #176 closed

[2015-01-27 15:34] MaxSanKyu opened #190 "using different ListItemViews through itemViewForIndex() throws 'Uncaught TypeError'"
Hey,

I'm using Ember 1.8.1 and Ember-CLI 0.1.9

My View looks like this:

[code]

The initial rendering of the page works. But when I start scrolling the list and the first element disappears I get the following error:

[code]

Maybe someone here knows why or can point me in the right direction?

[2015-01-27 15:40] stefanpenner commented on #190
i believe this is fixed in the pack branch

https://github.com/emberjs/list-view/blob/master/packages/list-view/lib/list_view_mixin.js#L137-L147
should actually be:
https://github.com/emberjs/list-view/blob/pack/packages/list-view/lib/list_view_mixin.js#L228-L239

[2015-01-27 16:10] MaxSanKyu commented on #190
Thanks for the quick answer.
I tried it out but unfortunately the error still shows up :(

[2015-01-27 16:12] stefanpenner commented on #190
can you put together a jsbin or a failing test?

[2015-01-27 16:17] MaxSanKyu commented on #190
No need, already solved it by also replacing createChildViewsMorph()
[code]

Thanks so much for your help!

[2015-01-27 16:31] stefanpenner commented on #190
seems like a bug we should fix, that being said, im not sure why createChildViewsMorph is needed here at all. @jasonmit do you remember why?

[2015-01-30 09:32] SebastianSzturo commented on #188
Also not working for me. Anyone figured this out?

[2015-01-30 10:36] codepreneur commented on #188
Andrew Hacking did on my stack overflow question (I am citing):

I've just forked the `ember-cli-list-view` and `ember-list-view-component` to get it working with the latest Ember CLI 0.1.7 and Ember 1.9.1 with handlebars 2.0.0.

I needed to use the latest master version of Ember ListView. I intend to raise a PR against the `ember-cli-list-view` package, but in the meantime, my fork of the add-on

[2015-01-30 20:39] stefanpenner opened #191 "ensure list-item-views are rendered with the correct style information (rather then render -> move)"

[2015-02-07 18:45] stefanpenner opened #193 "continue addonization"
this is a tracking issue for when someone has time.

- [ ] ship the ES6 code
- [ ] move to conventional file structure
[code]

- [ ] emit a legacy build

cc @taras @fivetanley @jasonmit

[2015-02-07 19:01] jasonmit commented on #193
Worth mentioning, since I just did this, that liquid-fire has a custom build pipeline for addons to build for legacy. https://github.com/ef4/liquid-fire/tree/master/packaging

Could be a good resource for whoever takes this up

[2015-02-07 19:10] stefanpenner commented on #193
@jasonmit thanks :) Maybe we can pair on this soon!

[2015-02-08 00:34] taras opened #195 "Need to build assets after install"
#192 that was merged earlier today needs a small tweak. We need to build assets after `npm install` so it will have an AMD build to use. If we added `ember build --environment=production` it should do the trick.

Can we add it to `postinstall` hook? like this

[code]

If this is ok, then I'll make a PR.

[2015-02-08 00:40] rwjblue commented on #195
It need to be packaged and pushed to NPM with the built assets, not force them to be built by every consumer.  That would be the `prepublish` hook...

[2015-02-08 00:50] taras commented on #195
Like this?
[code]

Are we ok with including the built assets in the library?

[2015-02-08 00:51] rwjblue commented on #195
It will need to be included when we publish to NPM, not stored in the repo.

[2015-02-08 00:54] stefanpenner commented on #195
https://github.com/emberjs/list-view/issues/193 solves the problem entirely, without needing the intermediate build step

[2015-02-08 00:56] taras commented on #195
Ok, I'll leave it then. I just wanted to bring it your attention because the library is still not usable as an ember-cli addon in it's current state.

[2015-02-08 13:24] stefanpenner opened #196 "improve initial render"
views should ideally be created with the correct context, rather then getting the context post creation (causing a rerender).

[2015-02-10 16:58] tim-evans commented on #109
Controllers are going to be deprecated, so I don't see this as a big priority.

[2015-02-10 17:08] tim-evans commented on #102
The path going forward for this project is as an ember-cli addon. I agree that it would be nice to be able to use this as a bower addon.

For the meantime, let's put this on ice until list-view has moved to an addon.

[2015-02-10 17:10] tim-evans commented on #126
I believe that this will be solved by #185.

[2015-02-10 17:12] tim-evans commented on #131
This should be resolved when #185 is merged in

[2015-02-10 17:20] tim-evans commented on #163
This is a duplicate of #153.

[2015-02-10 17:22] tim-evans commented on #186
@imkmf @stefanpenner is working on the pack branch- he's stuck on a bug here in the pack code: https://github.com/stefanpenner/pack/blob/master/index.js#L259-L282

Any help would be very welcome :)

[2015-02-12 22:45] imkmf commented on #186
@tim-evans, @stefanpenner we've since moved to a different lib :( sorry I can't be much help on this

[2015-02-12 23:03] tim-evans commented on #186
No problem! Could you let us know which library you moved to? It'd be good to see where people are landing.

Cheers!

[2015-02-12 23:26] imkmf commented on #186
We went with [ember-cloaking](https://github.com/eviltrout/ember-cloaking/). Was pretty easy to transition between the two.

[2015-02-13 01:30] tim-evans commented on #186
That seems like the best choice for variable height rows at the moment :)

I'll close this issue as you're no longer tracking it.

[2015-02-13 01:30] #186 closed

[2015-02-16 15:30] bcleary6 commented on #109
@stefanpenner it appears the latest build is throwing an exception when it is calling render().  buffer.dom is undefined which causes dom.createElement('div') to throw the exception.

Unless one of my dependent libraries is not on the correct version?

[2015-02-16 15:38] stefanpenner commented on #109
@bcleary6 your comment appears to be unrelated to this specific issue. Please open a dedicated issue, with a concise example.

[2015-02-16 15:39] stefanpenner commented on #109
ember is deprecating itemControllers, as such I have no plans on fixing these issues.

[2015-02-16 15:39] #109 closed

[2015-02-17 19:54] flyswatter opened #198 "Add installation instructions for ember-cli > 0.44"
The current instructions are for <= 0.44, but ember-cli has changed since then, so I assume there's a new series of steps to use this.  But what are they??

[2015-02-17 20:03] tim-evans commented on #198
list-view currently doesn't work as an ember-cli addon, but it will in the near(ish) future. For now, please use the download as a file under `vendor` in your ember-cli app and import it by calling:

[code]

Documentation and installation instructions will be updated when the 0.1.0 milestone is complete.

[2015-02-17 20:04] tim-evans commented on #198
You also may have to build the repo by following the instructions in the README.

[2015-02-17 20:06] flyswatter commented on #198
Oh also looks like @mysterlune [made this an addon already](https://www.npmjs.com/package/ember-cli-list-view).

[2015-02-17 20:30] tim-evans commented on #198
Yep! Keep in mind that that will be deprecated in favor of the canonical ember-list-view addon that will be published as part of the 0.1.0 milestone.

[2015-02-17 20:30] #198 closed

[2015-02-17 21:34] mysterlune commented on #198
@tim-evans, @flyswatter, indeed. the build i published was a stop-gap for those of us who want to just bang out projects with the addon style implementation. watching the list-view repo (and the issue https://github.com/emberjs/list-view/issues/160) for my cue to pull my repo down.

not much will change for consumers; just need to make sure list-view@0.1.0 hits this todo so i can deprecate.

[2015-02-17 21:36] tim-evans commented on #198
Thanks, @mysterlune - I'll be sure that this gets done when 0.1.0 hits :)

[2015-02-19 09:40] sly7-7 opened #199 "Helpers are broken with Ember 1.10.0 with HTMLBars"
Since https://github.com/emberjs/ember.js/commit/ad62ccfdfd9578884261c96a2af4a6a238bd3ae9, HTMLBars.registerHelper is private. This broke the helpers here: https://github.com/emberjs/list-view/blob/master/packages/list-view/lib/main.js#L14
Could we use the private method, or use the public makeBoud/ViewHelper method ?

Also unless I'm missing something Ember.HTMLBars.helpers does not exists. https

[2015-02-19 13:49] rwjblue commented on #199
Yes, the simplest work around for now would be to use `Ember.HTMLBars._registerHelper`.

You are not mistaken, there is no `Ember.HTMLBars.helpers` API.  You can use the older `Ember.Handlebars.helpers` API if you need it..

[2015-02-26 20:05] tim-evans opened #201 "Remove context switching in {{ember-list}} blocks"
This will make list-view consistent with ember moving towards explicit contexts, and prevent headaches with new users.

I'm not sure whether this is appropriate as a deprecation flag or just omitting it and bumping a version. We _are_ pre-1.0, so breaking changes ok.

[2015-02-26 20:09] tim-evans opened #202 "Add block params to {{ember-list}} helper"
I would like to use block params for list-view just like the each helper:

[code]

Feedback on restrictions this causes on users would be great :)

[2015-02-26 20:47] stefanpenner commented on #202
interesting

[2015-02-26 20:47] stefanpenner commented on #201
:+1:

[2015-03-17 15:25] #193 closed

[2015-03-17 15:29] tim-evans commented on #160
closed by https://github.com/emberjs/list-view/pull/203

[2015-03-17 15:30] tim-evans commented on #160
Wait... do you still want to handle the blueprints?

[2015-03-17 19:05] mrinterweb commented on #163
Issue #153 is closed, and the documentation still references globals. I am currently trying to figure out how to fix the deprecation warnings being thrown by the use of globals. So far, I have not had any luck. I'll just live with the deprecation warnings for now.

[2015-03-17 20:48] tim-evans commented on #163
Mr. @samselikoff is working on the documentation ticket for this. If you'd like a separate ticket for deprecation warnings, we'd definitely welcome that!

[2015-03-17 20:54] samselikoff commented on #163
yes now that #203 is merged I'm going to go back through and update (after this week's conference)

[2015-03-18 11:04] andreyfel opened #205 "Update docs"
"npm run build-all" became invalid after the #203 PR was merged.

[2015-03-18 18:36] jasonmit commented on #205
Intentional as we moved this to an ember-cli addon.

There may be work to create a custom build pipeline to support globals for backwards compat.

Cc @stefanpenner To hear his thoughts

[2015-03-18 20:05] taras opened #207 "Replace moduleForView with moduleForIntegration"
Refactor [list-view/tests/helpers/module-for-view.js](list-view/tests/helpers/module-for-view.js) in favour of [https://github.com/switchfly/ember-test-helpers/blob/master/lib/ember-test-helpers/test-module-for-integration.js](https://github.com/switchfly/ember-test-helpers/blob/master/lib/ember-test-helpers/test-module-for-integration.js) this will allow us to remove most of https://github.com/em

[2015-03-18 20:09] stefanpenner commented on #205
I have very little  motivation to support globals, but if that is a popular request we can easily support it, but wrapping the output with it's own local loader and re-exporting the things we need for globals.

[2015-03-19 03:26] jasonmit commented on #205
Err, sorry.

I think we spoke about bringing over something comparable to what liquid fire does to handle custom builds.  It doesn't involve globals :)

[2015-03-19 15:33] stefanpenner commented on #205
ah ok

[2015-03-19 20:09] tim-evans commented on #199
@sly7-7 I believe this is fixed by the recent merge by @taras.

[2015-03-19 20:27] tim-evans opened #209 "list-view doesn't support Ember 1.11.beta-5"
Morph seems to have changed its API between 1.10 and 1.11.

The error is that `this.lastNode` is null. (last line in the `insertBefore` call) I'm not sure how to fix this.

[code]

[2015-03-20 15:27] sly7-7 commented on #199
@tim-evans Thank you for the reminder. I closed my related PR, but I forgot to close this one.

[2015-03-20 15:27] #199 closed

[2015-03-20 15:30] tim-evans commented on #199
Thanks :heart:

[2015-03-22 23:46] taras commented on #195
@tim-evans I think we can close this issue.

[2015-03-22 23:46] #195 closed

[2015-03-22 23:52] taras opened #212 "Publish NPM module / Ember Addon"
@stefanpenner and I were discussing releasing a beta version of this library. A few things came up, I wanted to highlight in preparation for that release.

@ebryn suggested that we call it `ember-list-view` until Ember 2.0 (and we come up with a better name).

We'll also need to change the module name, so I'll need to do some refactoring to the library to use the new name.

//cc @tim-evans

[2015-03-23 15:20] tim-evans commented on #195
:+1:  #193 seems like the right place to do this work

[2015-03-23 16:23] stefanpenner commented on #212
:+1:

[2015-03-24 01:12] danielspaniel commented on #209
@tim-evans, what is the last version of ember that supported list-view  for you?
Curious, because I am trying to upgrade to ember 1.11 - anything, and am blocked by this one.

[2015-03-24 14:44] tim-evans commented on #209
I was on 1.11-canary, which worked for me. I'm not sure what happened between the releases

[2015-03-24 14:51] danielspaniel commented on #209
How do you set the ember setting in bower.json to use the canary release?

[2015-03-24 14:54] tim-evans commented on #209
Hrrm, you use `bower install ember#canary`, but that would leave you at 1.12 canary rather than 1.11

[2015-03-24 14:56] danielspaniel commented on #209
Got it .. will give that a try

[2015-03-24 15:07] alexspeller opened #214 "Docs incorrect?"
http://emberjs.com/list-views suggests this doesn't work on iOS but it seems to work fine - are the docs outdated?

[2015-03-24 15:13] stefanpenner commented on #214
it works as of iOS 8 they now report the scroll events even during momentum phase, which means you don't need to use the virtualListView on the newest iOS's

[2015-03-24 15:14] alexspeller commented on #214
Would you like a docs PR?

[2015-03-24 15:15] stefanpenner commented on #214
yes please

[2015-03-24 15:45] danielspaniel commented on #209
Using ```bower install ember#canary``` I am still getting that "nextSibling"  error  ( ember 1.12 canary ) .. crazy .. how did you get ember 1.11-canary .. ?
 Seems hard to believe that this would work in 1.11 canary, then break again in 1.12 ??
 can you send you bower.json and package.json?

[2015-03-24 15:47] taras commented on #209
@danielspaniel it's happened before, so I wouldn't be surprised :)

[2015-03-25 23:30] stefanpenner commented on #209
@taras and me resolved many of the issues, several stream related ones remain

[2015-03-26 00:16] danielspaniel commented on #209
thanks @stefanpenner for update .. should I wait for 0.1.0 release to start using this with ember 1.11

[2015-03-26 19:38] xrl opened #220 "Demo site breaks in IE8"
Is list-view targeting support for IE8? I am trying to get the addepar ember-widgets select-input component to work on my site but it looks like list-view is breaking even booting the app. This has me trying to isolate the breakage and I can see that the list-view demo site does not render properly in IE8. Is the demo site expected to work?

![screen shot 2015-03-26 at 12 36 26 pm](https://cloud.g

[2015-03-26 19:44] stefanpenner commented on #220
It is currently not targeting ie8.

[2015-03-31 16:23] marcemira commented on #209
:+1: Any news on 1.11 compat?

[2015-03-31 16:26] stefanpenner commented on #209
@marcemira https://github.com/emberjs/list-view/pull/219 is the WIP PR, it will likely work for your needs, but we still have some failing tests to fix. Unfortunately we haven't had a chance to bring those to completion yet.

[2015-03-31 23:45] mrinterweb commented on #209
I checked out the pr-219-fix branch and tried to build. The readme instructions of `npm run build-all` result in "missing script: build-all". `npm run build` produces something that I don't believe to be usable. Can anyone suggest a way to build list-view? I'm trying to use it with ember 1.11 and ember-cli 0.2.2.

[2015-03-31 23:54] stefanpenner commented on #209
@mrinterweb you don't need to build that PR, it is an addon, it should just work as other addons

cc @taras

[2015-03-31 23:59] mrinterweb commented on #209
@stefanpenner for ember-cli should I run `ember install:addon list-view`? If so, how would I specify the pr-219-fix branch? I think I'm missing something here in terms of how to get list view working with ember-cli.

[2015-04-01 00:23] stefanpenner commented on #209
@mrinterweb npm can download git repo's and branches aswell

[2015-04-01 00:24] taras commented on #209
@mrinterweb you should be able to install list-view from that branch with `npm install --save "emberjs/list-view#pr-219-fix"`

[2015-04-01 00:46] taras commented on #209
Here is an [example app](embersherpa/list-view-example-app) that shows it working and [package.json](https://github.com/embersherpa/list-view-example-app/blob/master/package.json#L37)

[2015-04-01 01:04] mrinterweb commented on #209
Thank you @taras. That example is useful. Things

Kind of unrelated question: What should be imported when defining a view that extends Ember.ListView?
I tried:
[code]
"Uncaught TypeError: Cannot read property 'extend' of undefined"

Thanks to your example, I learned about the ember-list component. Everything is working for me except extending ListView (which I don't really need to do).

[2015-04-01 01:48] danielspaniel commented on #209
If you put this line in Brocfile.js

[code]
right below here:
[code]
Ember.ListView will be available in your application to use as you described. You don't need to import it when your about to use it in other words.

[2015-04-01 18:27] pedrokiefer opened #222 "List-View generates warnings"
Using list-view from pr-219-fix branch with ember 1.11, while accessing any view with a list I get the following warning:

"Binding style attributes may introduce cross-site scripting vulnerabilities; please ensure that values being bound are properly escaped. For more information, including how to disable this warning, see http://emberjs.com/deprecations/v1.x/#toc_warning-when-binding-style-attri

[2015-04-05 00:04] davidsteinberger commented on #209
@taras: Thanks for the PR and the example. What would be the best way to extend the list-view used by the `ember-list` component? I tried using an initializer, however that did not work out.

[2015-04-05 22:24] tim-evans commented on #212
Closing this because of #225 being merged. :+1:

[2015-04-05 22:24] #212 closed

[2015-04-05 22:27] tim-evans commented on #209
Closed by #225

[2015-04-05 22:27] #209 closed

[2015-04-05 22:31] tim-evans opened #226 "Publish ember-list-view to npm"
Self explanatory. Currently, https://www.npmjs.com/package/ember-list-view is a 404.

[2015-04-05 22:32] tim-evans commented on #188
@codepreneur master is currently updated to work as an addon. Could you test to see if the current version works for you? If not, we can add another item to ember-try for your particular version. Thanks!

[2015-04-05 22:33] stefanpenner commented on #226
pushed,

@taras has been added as an owner, @tim-evans what is your npm username?

[2015-04-05 22:37] tim-evans commented on #226
tce

[2015-04-05 22:39] stefanpenner commented on #188
works now (although it depends on ember 1.11.1 which will be released with ember-cli shortly

[2015-04-05 22:39] #188 closed

[2015-04-05 22:40] #226 closed

[2015-04-05 23:11] #222 closed

[2015-04-06 02:59] xkb opened #227 "rendering via view helper"
Is today's release suppose to be functional? It's broken :cry:

I thought it was an issue with my code but then I ran the demo code and it doesn't produce any list items in the DOM.

[code]

~~After some digging around:
The inner property `items` isn't actually used anywhere(typo?) `list-view-mixin` references data via `content`. With that changed, inner views are created and you can see the scrol

[2015-04-06 03:01] stefanpenner commented on #227
the following is known to work:

[code]

[2015-04-06 03:01] stefanpenner commented on #227
i think the docs are just out of date

[2015-04-06 03:02] stefanpenner commented on #227
in-fact `item` just becomes `content` https://github.com/emberjs/list-view/blob/master/addon/helper.js#L20

[2015-04-06 03:13] KarimBaaba commented on #227
Indeed that does work. That's when you're using the `ember-list` helper.

In the case of using the view helper what needs to be changed here?
[code]

[2015-04-06 03:19] stefanpenner commented on #227
looks like you answered your own question

[2015-04-06 03:21] KarimBaaba commented on #227
^ No that doesn't work. It creates list of list-item-view but each view is empty.

[2015-04-06 03:24] stefanpenner commented on #227
ah, that was not clear from your comment.

[2015-04-06 03:27] KarimBaaba commented on #227
Apologizes. If you have a vague idea of what might be causing this, I can spend some time on it!

[2015-04-06 03:37] stefanpenner commented on #227
unfortunately I am unable to reproduce issues. Feel free to submit an example app showing your pain point, and i'll be able to look later this week.

[2015-04-06 05:48] KarimBaaba commented on #227
I created an app showcasing my issue [HERE](https://github.com/KarimBaaba/ember-list-view-bug). There also seems be to an issue with items disappearing when you scroll ( throwing `morph.destroy is not a function` ). Both illustrations included.

Am I doing something wrong here?

[2015-04-06 13:06] taras commented on #227
You need to upgrade your project to Ember 1.11.1. 1.11.0 has a regression that breaks `ember-list-view`.

[2015-04-06 15:43] marcemira opened #228 "How to add a class to a list item element"
I need to add a class (i.e. 'myClass') to the list item at current 0.6 :

[code]

and produce (notice the 'myClass' in the list-item):

[code]

How can I achieve this? Thanks!

[2015-04-06 15:45] stefanpenner commented on #228
you must add an addition element within the row to bind to classes.

[2015-04-06 15:49] stefanpenner commented on #228
we may open up support to the inner row in the future, but at the time, due to an issue in ember we could enable this.

[2015-04-06 15:50] marcemira commented on #228
:+1:  Thanks Stef

[2015-04-06 15:55] stefanpenner commented on #228
likely something we need to address in the docs.

[2015-04-06 16:50] KarimBaaba commented on #227
@taras: Thank you! That fixes the second problem.

Any insight on what's wrong with using the view helper?

[2015-04-06 17:44] KarimBaaba commented on #227
Back to the first issue.

Doesn't work:
[code]
Works:
[code]

Seems that the itemViewClass must be explicitly passed, is this expected?

[2015-04-06 19:56] davidsteinberger commented on #227
I'm facing the same issue. Rendering `{{#ember-list ...}} ... {{/ember-list}}` works totally ok. I'd much prefer to work with `{{#view 'list-view' ...}} .. {{/view}}` as it would allow easy subclassing, but in that case the items render blank.

[2015-04-07 14:01] jacojoubert opened #229 "Scrolling list-view fast causes page to scroll"
If you flick your mouse to scroll it will scroll through the list, hit the bottom and then scroll the page. After the scroll momentum is gone you can resume scrolling list-view.

![animation](https://cloud.githubusercontent.com/assets/41799/7024735/e2787a78-dd0c-11e4-9233-7580242d9e3a.gif)

[2015-04-07 14:42] tim-evans commented on #229
I think this has to deal with list-view not processing view recycling fast enough for the browser.

[2015-04-09 13:11] maulsea commented on #227
FYI, @stefanpenner Your example did work for me.

[code]

Just had to remove `.items` from `model.items`. We need to map it directly to model as per model set in docs example.

cc: @KarimBaaba

[2015-04-09 13:18] davidsteinberger commented on #227
@maulsea The issue is not `#ember-list`. That's known to work just fine. However the new Readme suggests `view 'list-view' ...` but then the items render blank. Does that work for you?
Note: Using the `#collection` helper or providing a *itemViewClass* get the list-view working for me.

[2015-04-09 14:21] maulsea commented on #227
@davidsteinberger You are right! That does not work. I can't even get it to work with `itemViewClass`.

[2015-04-09 16:45] Josh-Mosh commented on #166
Has anyone found a fix for this issue involving select elements?  When scrolling out of view, the first option is automatically selected.  We're already using `ListItemView` over `ReusableListItemView` so far as I can tell.  I can provide project context if it would be helpful.

[2015-04-10 00:44] taras commented on #227
as @davidsteinberger suggested, using `{{collection}}` renders the list view. I believe reference to `{{view}}` helper in the documentation is incorrect. I submitted a PR to update the documentation and add an acceptance test to make sure that list view renders when using `{{collection}}` helper.

[2015-04-10 00:53] taras commented on #160
@tim-evans I don't think we should add blueprints because views are on their way out anyway. There is no reason to create new Api that won't last long.

[2015-04-10 00:54] tim-evans commented on #160
Cool. I'd consider this ticket closed, then.

[2015-04-10 00:57] taras commented on #160
Close it :)

[2015-04-10 00:57] #160 closed

[2015-04-10 04:39] KarimBaaba commented on #227
@taras: I was aware of this when I opened the issue, I didn't mention it because the collection helper is [deprecate](http://emberjs.com/api/classes/Ember.Handlebars.helpers.html#method_collection). According to the APIs the view helper should be used to render CollectionView instances as well. Which makes this a bug either with the helper or list-view.

[2015-04-10 11:12] taras commented on #227
`ember-list` helper uses `collection` helper to render ListView https://github.com/emberjs/list-view/blob/master/addon/helper.js#L32. Until that changes, my guess is that it's safe to use the `{{collection}}` helper.

[2015-04-10 21:44] jonnii opened #231 "Latest development download broken (?)"
the link to the build output in the readme is still pointing to 0.5.0 which makes me think that part of the build might be broken?

https://rawgit.com/rondale-sc/list-view-dist/canary/list-view.js

we are trying to upgrade to 1.11.1 and aren't (yet) on ember-cli so we can't use the add-on =(

[2015-04-10 22:22] tim-evans commented on #231
Try https://github.com/ef4/ember-giftwrap :)

[2015-04-11 20:21] jonnii commented on #231
Is there anything I can do to help with this? Does the build no longer produce a globals version of list-view?

[2015-04-11 20:23] taras commented on #231
It doesn't at the moment, but a PR would be welcomed :)

[2015-04-11 20:24] jonnii commented on #231
Can you point me in the direction of where to start? I have some time I can take a look.

[2015-04-11 20:27] taras commented on #231
@ef4 @stefanpenner do you guys have any direction on how we should provide a globalized build for this addon?

[2015-04-11 20:29] jonnii commented on #231
@taras I'm assuming this problem is solver in ember itself, I'm going to poke around and see what I can find. There might be other add-ons that have had to solve this, probably something like ember-validations.

[2015-04-11 21:58] ef4 commented on #231
It should be possible to produce a globals-compatible build using http://github.com/ef4/ember-giftwrap

[2015-04-11 22:45] jonnii commented on #231
@ef4 i'll try giftwrap on monday...

[2015-04-12 13:37] pichfl opened #232 "Attempting a native scrollbar for the virtual list view"
Since I wanted to use list-view in a few projects over at anfema, I tried to wrap my head around a way to  add a native scrollbar to virtual listviews.

I thought it might be wise to discuss or gather previous attempts before I start implementing my own solution.

**My idea so far** is basically a reverse of the concept of [Antiscroll](https://github.com/Automattic/antiscroll) - Make a container f

[2015-04-12 21:13] taras commented on #232
This is very interesting.

Is it reverse in what it will do or reverse in how it works?

Is the intention to allow scrolling the page and thereby scrolling the content inside of the list-view?

[2015-04-12 21:24] stefanpenner commented on #232
why not just use non-virtual?

[2015-04-13 07:57] pichfl commented on #232
@taras I should have clarified that: Antiscroll adds custom scrollbars to an element by wrapping the element in a container, hiding the regular scrollbars in the overflow. This way all native scrolling behaviour for the element is retained.

For the virtual-list-view, we already have simulated scrolling behaviour, so we pretty much want the opposite of Antiscroll, showing native scrollbars for vir

[2015-04-13 14:42] stefanpenner commented on #232
I believe recent iOS sorted out the main problem. It would be worth seeing how your app performs

[2015-04-13 22:12] pichfl commented on #232
We don't use list-view right now (doing a lot of pagination), but I'll see if can try it's current version in a branch and/or create a testcase for our scenario.

However, while iOS 8 is great (and solves at least this problem for me), I'm not so sure about Android or the behaviour found in #229 though. If you think those concerns become invalid with the latest version of list-view, feel free to c

[2015-04-14 18:00] patuku opened #233 "using different ListItemViews through itemViewForIndex() throws 'Uncaught TypeError: undefined is not a function'"
Hi,

I'm using Ember 1.11.0 and Ember-CLI 0.2.2

this is my view file:

[code]

I did the initial render, but when I scrolling the list I've got the following error:

![error when scrolling](https://cloud.githubusercontent.com/assets/11705853/7143455/e754d14c-e309-11e4-93de-f009421b616d.png)

This is a bug or maybe I did it wrong? Any help would be appreciate :). Thanks in advance.

[2015-04-14 18:20] taras commented on #233
Ember 1.11 has a regression, use 1.11.1

[2015-04-15 07:02] patuku commented on #233
Hi @taras ... thanks for the clue ... it works :+1: :+1: :+1:

[2015-04-15 07:02] #233 closed

[2015-04-15 12:43] patuku opened #234 "How to reposition the listview item"
Hi there,

I'm trying to reposition the item inside listview but I never make it, I try updating by didInsertElement method on item object and call updatePosition to reflect the changes. But it seems does not affected.

I'm using Ember 1.11.0 and Ember-CLI 0.2.2

[code]

Any method I have to call to do this? Thanks in advance

[2015-04-15 16:52] tim-evans commented on #234
This is unsupported. Could you explain your use case so we can figure out how to creat cowpaths for you to do this?

[2015-04-16 08:20] patuku commented on #234
@tim-evans we want to create a timeline with a various type of data and below each data will show up the comments from all participants, which means each item will have their own rowHeight. I'm trying to update the position after the element available at DOM, since ember-listview using CSS transition. Is that doable? or maybe we can do it another way?

[2015-04-16 13:36] stefanpenner commented on #234
we likely need to add hooks to invalidate the height externally..

[2015-04-16 14:14] jacojoubert opened #236 "Scrolling with wheel broken in Firefox"
You can drag the scrollbar to scroll through list-view, but if you attempt to use the mouse wheel Firefox snaps the scroll location back to the top.

[2015-04-16 15:06] patuku commented on #234
Could you point me the direction how to invalidate the rowHeight and updatePosition correctly? so maybe I can do some PR also if I can add the method.

[2015-04-16 15:53] stefanpenner commented on #234
This is something that may get added once @taras has a chance to help me finish syncing pack branch into master.

[2015-04-16 15:57] patuku commented on #234
Okay then, I think I have to wait until it happened ... Thanks anyway, good work.

[2015-04-16 15:57] #234 closed

[2015-04-16 15:59] stefanpenner commented on #236
Can you provide an example. Does this affect both virtual and non virtual. Which a versions of ember/list-view does this affect

[2015-04-17 13:07] jacojoubert commented on #236
Yeah seems to be my fault. My bad.

[2015-04-17 13:07] #236 closed

[2015-04-17 13:14] jacojoubert commented on #229
This was my fault. I guess something changed in how scrolling is handled in the newest list-view and it invalidated my previous code. Sorry to have wasted your time.

[2015-04-17 13:14] #229 closed

[2015-04-17 13:49] stefanpenner commented on #236
Maybe you can share the cause. So future travelers can solve there issue easiser

[2015-04-17 15:19] jacojoubert commented on #236
So I have spend a bunch of time investigating this and it is related to #229

I am using list-view in a popup and don't want the page to scroll when it runs out of items. So I watch the mousewheel event for the element so I can prevent the default scroll event and do it manually via the scrollTo method on list-view.

In the latest version of list-view some of the internals must have changed such t

[2015-04-17 15:28] jacojoubert commented on #236
I will also add  that Chrome seems to have a lot worse performance than other browsers. Scrolling really fast shows the rows empty for a split second before the label shows up whereas that does not happen in Firefox or Safari.

[2015-04-19 20:27] Geokoumpa opened #238 "Incorrect number of elements shown when element exceeds container height"
Hello,

I have implemented a multi-level nested tree of collapsible elements, by taking advantage of

[code]

and

[code]

Everything seemed to work as expected, until some of my data branches had a big number of descendants, such that the total height of the root element was greater than that of the container.

![](https://lh4.googleusercontent.com/-7pqI1LwMoy0/VTQQ1M9SMzI/AAAAAAAAD_w/f3mWToyEmYg

[2015-04-19 21:03] stefanpenner commented on #238
ya it's a bummer, we will need to fix this. But a good scenario :)

[2015-04-19 21:59] tp commented on #238
For a tree-view like structure I built a component (in-house), that has no nested list views, but rather just indents items based on their depth in a single list view.

The code slightly more complicated than the straightforward way, but uses much less elements than other approaches and is always fast, no matter how many nodes are open/visible.

Maybe that would work for you as well.

[2015-04-20 07:37] Geokoumpa commented on #238
I would gladly try your component as well tp, thanks!

[2015-04-20 15:28] tim-evans commented on #238
This will probably be fixed on the pack branch.

[2015-04-20 16:03] stefanpenner commented on #238
maybe, im unsure about this specific use-case though.

[2015-04-22 17:31] catc commented on #231
@jonnii any luck with giftwrap?

[2015-04-22 19:16] scooterlord commented on #238
Hello. Any news on this one? Haivng the same issue and would be glad to have this solved!

[2015-04-22 21:16] krisselden commented on #185
@stefanpenner this was in the zip file I gave to you and @taras

[2015-04-23 00:26] jonnii commented on #231
@catc not yet, I'm spending Friday's upgrading ember, so will give it a try in a couple of days. Right now we're trying to upgrade from 1.8 => 1.10 (this is the last version of list-view which has globals), but there's a bug with 1.10 which results in our modals not working (something to do with controller bindings in views without outlets according to the changelog), so we might have to skip to 1

[2015-04-29 21:56] chung-leong opened #242 "Scrolling by scroll-wheel in Firefox is exceeding slow"
Visit http://emberjs.com/list-view/ with Firefox and try to scroll using your mouse's scroll wheel. The view will only scroll by the tiniest amount. Works correctly in Chrome and IE 11.

Firefox version: 37.0.1

[2015-04-29 22:33] tim-evans commented on #242
Closing in favor of #91 Thanks for the report!

[2015-04-29 22:33] #242 closed

[2015-05-03 16:39] oskarrough commented on #178
Another case of RTFM: be sure to define rowHeight on the component to match the exact height of your items.

[2015-05-03 20:01] oskarrough commented on #202
Is this what is needed before this will work? Need to pass a property from my controller down to the component. Or am I missing something super basic about contexts here?

[code]

[2015-05-03 20:05] oskarrough opened #243 "Using components with ListView"
Hi, I'd like to create a list view that renders a component instead of a view.

Is that possible or should you rather use the `{{ember-list}}` helper? If so, instructions would also be appreciated. Thanks!

[code]

[2015-05-03 20:56] tim-evans commented on #202
@oskarrough The template you provided is a good interim step for refactoring.

Your template would change to:
[code]

[2015-05-03 21:13] tim-evans commented on #243
A component is a view, but I think there may be some corner cases around this. I would recommend that you simply use a component in the template rather than the view declaration. @stefanpenner thoughts?

[2015-05-03 21:39] oskarrough commented on #202
@tim-evans exactly. But it doesn't work yet. Correct?

[2015-05-03 21:48] tim-evans commented on #202
Correct. This isn't implemented yet.

[2015-05-13 08:11] Soliah opened #245 "Ember 1.13+ (Glimmer) Support"
Not sure if this has been raised but list view is broken with the latest Glimmer changes.

[2015-05-13 14:19] stefanpenner commented on #245
Ya. We are aware. Just lack the time currently to update it. Hopefully soon :)

[2015-05-14 20:22] jonnii commented on #231
@ef4 @catc finally got around to trying giftwrap and everything has seemed to work. A few things like having to remove the ember-data and ic-ajax packages from ember-cli's default output should be documented, plus it's a little out of date in terms of `ember install:addon` vs `ember install`. but other than that so far so good.

[2015-05-18 15:25] krisselden commented on #202
@tim-evans this will be how it has to work for ember 2, I'm planning on moving it away from item views.

[2015-05-18 15:25] tim-evans commented on #202
@krisselden super!

[2015-05-26 09:36] berislavbabic commented on #245
@stefanpenner is there any low hanging fruit that I could help with here?

[2015-05-26 16:34] stefanpenner commented on #245
I don't believe so, the upgrade will require some effort. I would be excited if someone had time for it soon .

[2015-05-26 16:57] taras commented on #245
I will have time to do it but the path forward has been muddled by the state of the pack branch and refactoring that Kris wants to do to make it Ember 2.0 compatible. Let's chat about it tonight.

[2015-05-26 17:02] stefanpenner commented on #245
@taras sounds great :) See you at dinner!

[2015-05-26 17:03] taras commented on #245
Looking forward to it :)

[2015-06-01 17:12] stefanpenner opened #246 "Add `tmp` dir to the .npmignore."
https://github.com/ember-cli/ember-cli/issues/4199

[2015-06-01 17:32] stefanpenner commented on #246
like: https://github.com/ember-cli/ember-cli/commit/6ac18227ea571988fa9d9950e9a1051fdd990c7c

[2015-06-01 19:27] #246 closed

[2015-06-03 20:32] raytiley commented on #245
@stefanpenner @taras Any news from dinner?

[2015-06-03 20:55] stefanpenner commented on #245
I plan to take an afternoon this week to dig into the current status of things, and we hope @krisselden is in-fact able to get some time to come up with an MVP we can role with.

[2015-06-03 21:01] raytiley commented on #245
Sweet if there are any easy to explain items on the punch list feel free to post them and I can try to tackle as time allows

[2015-06-03 21:01] stefanpenner commented on #245
ya, i haven't even gotten to that phase yet

[2015-06-05 14:28] jdjkelly opened #248 "Render breaks if RenderBuffer's DOMHelper has an SVG namespace"
Important caveat: I'm unsure if this bug is with list-view or with Ember's RenderBuffer implementation.

It appears that if you try to render a component with a tagName of SVG immediately prior to ember-list-view, list-view's render function throws this error:

[code]

I've provided an example here: https://github.com/jdjkelly/list-view-example (just a regular ember-cli project - example is in the

[2015-06-15 11:11] tschoartschi commented on #245
I'm very interested in using "list-view", so are there any news on this issue?

[2015-06-29 22:31] mrinterweb commented on #245
Is list-view still incompatible with 1.13?

[2015-06-29 23:42] stefanpenner commented on #245
i believe @krisselden and @raytiley are working on it

[2015-06-30 09:18] ivan-granulin commented on #245
@stefanpenner @krisselden @raytiley Will the new `list-view` be backwards compatible with the current one (version 0.5)?

Will there be any syntactical changes? In other words - will I have to change the code of my app that's using `list-view 0.5`?

[2015-06-30 10:25] raytiley commented on #245
@mrinterweb - @krisselden  and I spiked out a quick and dirty compatible version, definitely not production ready. The internals are much simpler now, but there is still work needed to get it releasable. I'm on vacation all of next week, but I hope to really dig into after that and get something out that is workable soon.

@ivan-granulin you'll almost definitely need to update your app. In the cur

[2015-06-30 13:21] ivan-granulin commented on #245
@raytiley Thank you for reply. I do really appreciate your work. The syntax looks just superb! What a pity we have to wait till July 24 to get it in our hands - having said that, do you plan any "pre-July-24" release of `ember-list`?

By the way, if the `ember-list` works *basically* the same as `each`, does that mean it could replace it when rendering an html's `table`-based grid (maybe with some

[2015-07-01 00:21] sberan commented on #245
:+1: to a pre-release if available I'd love to beta-test.

[2015-07-01 02:59] mrinterweb commented on #245
I'm also available to help test.

[2015-07-01 17:38] troyhalden commented on #245
@raytiley What's the current status of `ember-list`?  Could you please share a `.zip` version?

[2015-07-01 18:20] mrinterweb commented on #245
It would be easier to test from a feature branch.

[2015-07-02 07:57] #232 closed

[2015-07-04 22:05] troyhalden commented on #245
Had I had noticed before...
The new, Glimmer-ready `ember-list` is available at https://github.com/krisselden/list-view/tree/2.0.0

[2015-07-16 15:37] Leooo commented on #13
The following condition is alwayts true?
'''if (start >= this._lastStartingIndex || start < this._lastEndingIndex) {

=> This should be "&&" instead of "||", more precisely:
[code]

[2015-07-16 16:01] Leooo commented on #13
I see another thing too, opening a new issue as I never know if closed issues are red.

[2015-07-16 16:03] stefanpenner commented on #13
I believe this is to take into account optional elastic snap like in pull to refresh mode.

[2015-07-16 16:10] Leooo commented on #13
Wow you lost me. The only thing that I noticed is that, whatever the value of `start`, if `this._lastStartingIndex < this._lastEndIndex`, then the above condition is true.

Moreover, at least in my case (content array built using a reduceComputed property), even with the changes above which help, `arrayDidChange` is still running too many times (around square times the number of items). Adding an

[2015-07-16 16:11] stefanpenner commented on #13
@Leooo sorry, i haven't looked at this code in ages.

New array computed (in ember 2.0 beta) wont have this problem, as its all lazy and well behaved.

[2015-07-16 16:13] Leooo commented on #13
OK forget my second point above then, the first point, your initial comment for your code was:
"// ignore if all changes are out of the visible change"

And this is how I understand it: check that the changes are in the visible range. In that case, this should be "&&" not "||".

Leaving the issue closed it works on my side now.

[2015-07-16 16:13] stefanpenner commented on #13
if you can provide a failing test or something, i would love to be confident in the change. Unfortunately i don't have the extra cycles right now to validate your finding myself.

[2015-07-16 16:14] Leooo commented on #13
Fair enough, not able to provide a test given my Ember level so forget it.

[2015-07-16 16:15] stefanpenner commented on #13
we need more hours in the day :(

[2015-07-24 07:16] ahmed1490 commented on #202
Hi any update here?

[2015-07-24 10:05] karanjthakkar commented on #245
@ivan-granulin Is this going to be released today? Eagerly waiting for it.

[2015-07-24 13:40] raytiley commented on #202
There is some initial spikes how of how list-view will work in glimmer. https://github.com/krisselden/list-view/tree/2.0.0.

You can see how the new syntax looks here: https://github.com/krisselden/list-view/blob/2.0.0/tests/dummy/app/templates/simple.hbs#L18-L22

[2015-07-24 22:18] ivan-granulin commented on #245
@karanjthakkar Unfortunately, I'm not a member of the core team so I don't know when it will be released.

But looking at https://github.com/emberjs/list-view/network you'll see that version 2.0.0 can be found at https://github.com/krisselden/list-view/tree/2.0.0 - as pointed out by @troyhalden.

[2015-07-28 04:54] shaunc commented on #245
I checked out https://github.com/krisselden/list-view/tree/2.0.0 and tried to run tests -- unsuccessfully (see below). I'm not sure if this is due to unstability of canary build of ember of the new list-view, something in my local environment, or in a related package. (Any suggestions?)

Failures (23 -- 47) were mostly like 23 --

not ok 23 PhantomJS 1.9 - TestLoader Failures: dummy/tests/unit/con

[2015-07-28 11:31] raytiley commented on #245
@shaunc What is implemented so far is still proof of concept. I'll be circling around soon and writing / updating tests.

[2015-07-28 16:35] krisselden commented on #245
@shaunc to reiterate what @raytiley said, there is only one template we were hacking on `https://github.com/krisselden/list-view/blob/2.0.0/tests/dummy/app/templates/simple.hbs` which is what you should look at if you are looking to try it out.

Also, will be moving to a branch on this repo soon.  As for 1.13 support, I plan for it to pass the 1.13 tests, I'm just not sure I plan for IE 8 support.

[2015-07-28 16:46] krisselden commented on #248
@jdjkelly this will not be an issue with the next major version of list-view, since takes a very different approach to fit with the glimmer update in 1.13 and 2.0

[2015-07-28 21:19] shaunc commented on #245
Sure - - Thanks. With so much flux in the ecosystem I thought it could be a package.json with wrong version of something.

[2015-07-28 21:39] drewcovi commented on #234
@stefanpenner any recommended paths forward for something like this?

We're in a project faced with a ton of data in some accordion style rows, so this would be a huge win.  The only other solution I can think of is to rebuild the entire dataset inserting the drawer where needed, but the drawer would still need to be a known height since we can't dynamically update rowHeight...

[2015-07-31 17:45] wallaceicy06 opened #249 "Is list-view broken on ember 1.13?"
Sorry, but I wasn't exactly sure where to ask for help. I tried getting the most basic example of list view working in my ember project, but it doesn't appear to be working. I keep getting an error:

[code]

when I insert the following into one of my templates:

[code]

I've been digging through the issue tracker to see if anyone was having the same issue, and tried using some different handebars

[2015-07-31 17:48] rwjblue commented on #249
Yes, it is broken on 1.13.  This is a duplicate of https://github.com/emberjs/list-view/issues/245 (though this issue is better named :wink: ).

[2015-07-31 18:50] #249 closed

[2015-07-31 18:50] stefanpenner commented on #249
Let's rename the other one. As it has meow context and ongoing messaging as progress is being made

[2015-07-31 18:54] tim-evans commented on #249
@stefanpenner done.

[2015-08-01 12:25] raytiley commented on #245
@krisselden @stefanpenner I'm going to start working on some cleanup and test migration for the glimmer support. Is the end goal to have a single version that provides 1.12 support and 1.13+ (glimmer) support? Or should all the legacy views be removed? I guess another option would be a brand new addon renamed `ember-list` (since views are evil right). Just looking for some direction.

[2015-08-01 15:43] krisselden commented on #245
No views

[2015-08-05 13:52] severinedarlot commented on #231
Hello, we have the same problem than @jonnii . We don't use ember-cli. We use gem ember-rails. Usually we use the link 'latest development' in the readme but now it is not up-to-date.

I try to create a globalized build with giftwrap but I failed. Here is what I did :

    ember new list-view
    # edit the package.json file to remove "ember-cli-sri": "^1.0.1", "ember-cli-ic-ajax": "0.2.1", "ember

[2015-08-05 14:55] jonnii commented on #231
`EmberListView = GiftWrap.require('ember-list-view').default`.

try that.

[2015-08-05 15:42] severinedarlot commented on #231
Wonderful, it works ! I had:

    Ember.ListView = GiftWrap.require('ember-list-view').default;
    Ember.ListItemView = GiftWrap.require('ember-list-view/list-item-view').default;

Thank you very much.

[2015-08-05 16:48] jonnii commented on #231
no problem, took me a while to work that one out... :dancer:

[2015-08-08 19:30] drewcovi opened #250 "cached _childViews.length used to set contentIndexEnd"
it seems that in _reuseChildren, _childViews is referenced to establish the amount of children rendered in the viewport. Since the addition of individual rowHeight per item, this can change drastically since the first couple rows might have a row height far larger then the remainder.  For instance: the first element in your dataset might have a height almost the entire height of the viewport, and

[2015-08-13 18:33] mbrakken commented on #245
Thanks for the work on the 2.0.0 branch @krisselden and @raytiley. I currently have a version in production with Ember 1.13.6, and it seems to be pretty happy. Certainly happier than not using ember-list. I hope to try it with Ember 2 soon, and I'm excited to see the eventual release.

I haven't dug into this yet, but I just wanted to leave a note that the 2.0.0 branch currently doesn't work with

[2015-08-13 19:01] shaunc commented on #245
@mbrakken -- I've been working off krisselden/raytiley branch, trying to get the tests working. Are you using the same block interface as they are, and have you worked on the tests yet? I'd be eager to merge if it makes sense, and even better to throw out my work if its superfluous :). I'm most eager to get ember-table working with glimmer, and it's supposed to be based on ember-list now.

[2015-08-13 19:25] mbrakken commented on #245
@shaunc I am using the block interface, but I haven't touched tests in any way. Partially I wasn't sure how much thrash there'd still be on the branch, so I just went with getting things functional. Also, I need to get better at bothering to actually write tests for ember :(

The repo / branch I'm working off is here: https://github.com/mbrakken/list-view/tree/2.0.0. I only made a few rather small

[2015-08-13 19:52] shaunc commented on #245
@mbrakken -- great - thanks! It looks like we've made a few similar changes. :) I'm trying to slog my way through the tests ("learning by doing: seems that there are some undocumented changes in test infrastructure) though I must admit I'm slacking a bit on some. (Do we really need a test that the component properly bubbles actions, for instance? [controller-test.js] Presumably this had something

[2015-08-13 20:02] mmun commented on #245
@mbrakken @shaunc Hey folks! I've "officially" moved kris' branch to https://github.com/emberjs/ember-collection and started with some cosmetic changes. The first order of business is getting some basic tests passing. Please contribute there! :) If you want to chat you can hop into #dev-ember in the Ember community slack channel.

[2015-08-13 20:05] jeff3dx opened #251 "Add Binding-in, Action-out, Scroll Position"
I'd like to see this emit a **scroll action**, and the ability to **push scroll position** in from an external source, preferably as a percentage rather than the absolute scrollTop.  (Is it possible to implement list-view as a Component?)

**The in-property:**
- scrollPositionPercentage

**The out-action should include at least:**
- height
- totalHeight
- scrollTop

The use case is to render a scr

[2015-08-13 21:49] shaunc commented on #245
Thats great! I've manually merged in my changes and posted here. https://github.com/shaunc/ember-collection/tree/tests-2.0. Various changes (which may or may not be a good idea :)). In particular I'm now observing the array for changes to get "content-test" working. Is this how it should be done?

Right now this is still very far from being a pull request. (e.g. jshint is a mess.) As there is acti

[2015-08-13 21:51] mmun commented on #245
@shaunc Can we start with component integration tests instead of acceptance tests?

[2015-08-13 22:03] shaunc commented on #245
@mmun The first test I did was "content-test" which is integration. I was thinking about list-ivew-test next just to get the general structure down. I'd be happy to go on to other integration tests... but am trying to get rid of "moduleForTest" everywhere so thought I'd ask about the skeleton.

(NB I'm trying to adapt old tests where reasonable rather than write new ones. Probably some new ones wi

[2015-08-13 22:21] mmun commented on #245
Awesome :+1: I left some comments are on your commit.

[2015-08-13 22:30] shaunc commented on #245
Thanks!

I am looking into "multi-height-list-view" now. It seems the old implementation used "heightForIndex" function. Now it looks like "layout-bin-packer" just reads the "height" property off the content.

    Bin.prototype.heightAtIndex = function (index) {
      return this.content[index].height;
    };

Are we comfortable with that? Or should there be an attribute that provides a function t

[2015-08-13 22:32] mmun commented on #245
Not sure. Either way seems fine to me. We can revisit it.

[2015-08-13 22:43] mmun commented on #245
@shaunc You should get the tests passing and submit a PR so we can iterate together. Feel free to replace any failing `QUnit.test`s with `QUnit.skip` (via `import { skip } from ...`) and comment out whatever you need to.

[2015-08-13 23:38] shaunc commented on #245
@mmun -- ok -- slashed & burned; submitted. :) It seems to me that to deal with the concerns of "multi-height-list-view" the layout should be the thing that can figure out item heights. In particular, its silly to adapt these tests for "fixed-grid". What is the "mixed-grid" layout supposed to do? It looks like it should put items of various sizes on "shelves", wrapping when necessary. Perhaps I sh

[2015-08-14 03:04] shaunc commented on #245
NB: https://github.com/shaunc/ember-collection/tree/phantom-offset
and https://github.com/stefanpenner/layout-bin-packer/issues/9

The branch has more tests including a failing one demonstrating bug in layout-bin-packer

[2015-08-14 11:43] mansona commented on #245
So is https://github.com/emberjs/ember-collection now the "official" successor to ember-list-view? If so can we create a meta issue over there that people can follow for updates on it's 1.13 and 2.0 readiness?

I'm only asking because to me (as an outside observer) it is almost impossible to track the progress of this issue.

[2015-08-14 13:25] shaunc commented on #245
@masona - As long as we assume that @mmun isn't a fiendish impostor (and if he is he's playing a long game, because he seems like a pretty nice guy), then I think you're right. I'm eager to get this finished because I want to use a glimmer-based ember-table in my project, so am pushing ahead. If you open an issue over there I'll be glad to post status to it (as far as it depends on me -- I'm not a

[2015-08-14 16:29] rwjblue commented on #245
Yes, ember-collection will be replacing list-view.

I definitely agree that we should make a meta issue in ember-collection repo.  I am unsure of the major points so I'll leave that to @mmun.

[2015-08-14 17:38] tim-evans commented on #245
Any reason we just didn't rename this repository to ember-collection?

[2015-08-14 17:51] rwjblue commented on #245
@tim-evans - I suggested against it (@mmun would have preferred that too).  Sorry about the confusion. :disappointed:

My thought process was that the fundamental concept of the new "thing" is roughly the same was previously published versions of list-view, but it really is a whole new beast.

* The new repo will be dropping (or has already) support for all Ember versions prior to Ember 1.13.
* Th

[2015-08-15 17:44] mansona commented on #245
@rwjblue I think ultimately your suggestion to make a new repo was the right choice, and again in the same sentiment as my last question it just needs to be documented somewhere :joy: A simple update of ember-list-view's Readme pointing to ember-collection's Readme should solve the issue for any brave adventurers straying here in the future.

I think we're agreed that we should create an issue on

[2015-08-20 22:37] shishirmk commented on #243
+ 1

[2016-11-03 21:46] #201 closed

[2016-11-03 21:46] #202 closed

[2017-04-13 20:25] #220 closed

[2017-11-11 13:45] rwjblue commented on #251
I'm sorry we didn't get back to this previously, but at this point this repo is essentially unmaintained.  Please use @html-next/vertical-collection or ember-collection for similar functionality.

Closing...

[2017-11-11 13:45] #251 closed

[2017-11-11 13:45] rwjblue commented on #250
I'm sorry we didn't get back to this previously, but at this point this repo is essentially unmaintained.  Please use @html-next/vertical-collection or ember-collection for similar functionality.

Closing...

[2017-11-11 13:45] #250 closed

[2017-11-11 13:45] rwjblue commented on #248
I'm sorry we didn't get back to this previously, but at this point this repo is essentially unmaintained.  Please use @html-next/vertical-collection or ember-collection for similar functionality.

Closing...

[2017-11-11 13:45] #248 closed

[2017-11-11 13:45] rwjblue commented on #245
I'm sorry we didn't get back to this previously, but at this point this repo is essentially unmaintained.  Please use @html-next/vertical-collection or ember-collection for similar functionality.

Closing...

[2017-11-11 13:45] #245 closed

[2017-11-11 13:45] rwjblue commented on #243
I'm sorry we didn't get back to this previously, but at this point this repo is essentially unmaintained.  Please use @html-next/vertical-collection or ember-collection for similar functionality.

Closing...

[2017-11-11 13:45] #243 closed

[2017-11-11 13:46] rwjblue commented on #238
I'm sorry we didn't get back to this previously, but at this point this repo is essentially unmaintained.  Please use @html-next/vertical-collection or ember-collection for similar functionality.

Closing...

[2017-11-11 13:46] #238 closed

[2017-11-11 13:46] rwjblue commented on #231
I'm sorry we didn't get back to this previously, but at this point this repo is essentially unmaintained.  Please use @html-next/vertical-collection or ember-collection for similar functionality.

Closing...

[2017-11-11 13:46] #231 closed

[2017-11-11 13:46] rwjblue commented on #228
I'm sorry we didn't get back to this previously, but at this point this repo is essentially unmaintained.  Please use @html-next/vertical-collection or ember-collection for similar functionality.

Closing...

[2017-11-11 13:46] #228 closed

[2017-11-11 13:46] rwjblue commented on #227
I'm sorry we didn't get back to this previously, but at this point this repo is essentially unmaintained.  Please use @html-next/vertical-collection or ember-collection for similar functionality.

Closing...

[2017-11-11 13:46] #227 closed

[2017-11-11 13:49] rwjblue commented on #214
I'm sorry we didn't get back to this previously, but at this point this repo is essentially unmaintained.  Please use @html-next/vertical-collection or ember-collection for similar functionality.

Closing...

[2017-11-11 13:49] #214 closed

[2017-11-11 13:49] #91 closed

[2017-11-11 13:49] #92 closed

[2017-11-11 13:49] #102 closed

[2017-11-11 13:49] #126 closed

[2017-11-11 13:49] #131 closed

[2017-11-11 13:49] #136 closed

[2017-11-11 13:49] #153 closed

[2017-11-11 13:49] #154 closed

[2017-11-11 13:49] #155 closed

[2017-11-11 13:49] #156 closed

[2017-11-11 13:49] #159 closed

[2017-11-11 13:49] #161 closed

[2017-11-11 13:49] #162 closed

[2017-11-11 13:49] #163 closed

[2017-11-11 13:49] #164 closed

[2017-11-11 13:49] #165 closed

[2017-11-11 13:49] #166 closed

[2017-11-11 13:49] #180 closed

[2017-11-11 13:49] #185 closed

[2017-11-11 13:49] #190 closed

[2017-11-11 13:49] #191 closed

[2017-11-11 13:49] #196 closed

[2017-11-11 13:49] #205 closed

[2017-11-11 13:49] #207 closed